*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body{
    background: #f0f2f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}  
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 25px;
    width: 100%;
    max-width: 900px;
    padding: 20px;
}  



.profile-card{
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform 0.4s,box-shadow 0.4s;
}
body.dark.profile-card{
    background: #1e1e1e;
}
.profile-card:hover{
    transform:translateY(-15px) scale(1.05);
    box-shadow:25px 40px rgba(0,0,0,0.3))
}
.profile-card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.card h2{
    font-size: 20px;
    margin-bottom: 6px;
}
.address{
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}
.action{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.btn{
    text-decoration: none;
    padding: 10px,16px;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.whatsapp{
    background: #25D366;
}
.call{
    background: #007bff;
}
@media(max-width:480px){
    .action{
        flex-direction: column;
    }
}
